<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>전체 상품</title>
    <link rel="stylesheet" href="../../static/css/main.css" />
</head>
<body>
<header>
    <div>
        <a href="../main.html" class="logo-link">EyeCare</a>
    </div>
    <div class="header-buttons">
        <button class="header-btn" onclick="location.href='login.html'">로그인</button>
        <button class="header-btn" onclick="location.href='sign_in.html'">회원가입</button>
    </div>
</header>

<div class="products-section">
    <div class="products-title">전체 상품</div>
    <div class="product-list">
        <!-- 상품을 여러 개 나열 -->
        <div class="product-wrapper">
            <div class="product"></div>
            <div class="product-info">상품명<br>가격</div>
        </div>
        <!-- 반복 -->
        <div class="product-wrapper">
            <div class="product"></div>
            <div class="product-info">상품명<br>가격</div>
        </div>
        <div class="product-wrapper">
            <div class="product"></div>
            <div class="product-info">상품명<br>가격</div>
        </div>
        <div class="product-wrapper">
            <div class="product"></div>
            <div class="product-info">상품명<br>가격</div>
        </div>
    </div>
</div>
</body>
</html>
