<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>병원 찾기</title>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body>
<header>
    <div>
        <a href="main.html" class="logo-link">EyeCare</a>
    </div>
    <div class="header-buttons">
        <button class="header-btn" onclick="location.href='login.html'">로그인</button>
        <button class="header-btn" onclick="location.href='sign_in.html'">회원가입</button>
    </div>
</header>


<main>
    <h2 style="text-align:center; margin-top:2rem;">내 주변 병원 찾기</h2>
    <p style="text-align:center;">지도 API 또는 병원 리스트가 여기에 나옵니다</p>
</main>
</body>
</html>
