<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EyeCare</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <header>
    <div>EyeCare</div>
    <div>login</div>
  </header>

  <div class="main-section">
    <div class="hospital-section">
      <div class="hospital-content">
        <button onclick="location.href='hospital.html'">병원 찾기</button>
      </div>
    </div>
    <div class="glasses-section">
      <!-- 굳이 안에 콘텐츠 없으면 이대로 비워도 됨 -->
    </div>
  </div>

  <div class="products-section">
    <div class="products-title">상품</div>
    <div class="product-list">
      <!-- 첫 줄 4개 -->
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
    </div>
    <div class="product-list">
      <!-- 두 번째 줄 4개 -->
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
      <div class="product-wrapper">
        <div class="product"></div>
        <div class="product-info">상품명<br>상품 가격</div>
      </div>
    </div>
    <div class="more-button-wrapper">
      <button id="more-button" onclick="location.href='products.html'">상품 더보기</button>
    </div>
  </div>
</body>
</html>
